<!-- <title>{{title}}</title>

<input type="text" value="{{ name }}">
<input type="text" [value]="name">

<p>Имя: {{ name }}</p>
<p>Возраст: {{ age }} </p>

<div class="event-counter">
  <p>Количество кликов {{ counter }} </p>
  <button (click)="increase()">Кликни, что бы увеличить</button>
  <button (click)="decrease()">Кликни, что бы уменьшить</button>
</div>

<h1>Привет, {{ name }}</h1>

<button class="start-counter-btn">Запустить Counter</button>

<child-component></child-component> -->

<app-auth></app-auth>

<a routerLink="/counter" routerLinkActive="active">Counters</a>